<section class="about" id="about-us">
  <div class="container about-container">
    <h2 class="about-title">Чому Хатинка Лапок</h2>
    <div class="swiper about-mySwiper">
      <div class="swiper-wrapper about-swiper-wrapper"></div>
    </div>
    <div class="about-swiper-navigation">
      <div class="swiper-pagination"></div>
      <div class="about-swiper-btns">
        <div class="about-swiper-button-prev about-btn-disabled">
          <svg class="about-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </div>
        <div class="about-swiper-button-next about-btn-disabled">
          <svg class="about-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
