<section class="about">
  <div class="container about-container">
    <h2 class="about-title">Чому Хатинка Лапок</h2>
    <div class="about-swiper about-mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/about-us/Desk/slide-01-desk-min.jpg    1x,
                ../img/about-us/Desk/slide-01@2x-desk-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about-us/Tablet/slide-01-tab-min.jpg    1x,
                ../img/about-us/Tablet/slide-01@2x-tab-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about-us/Mobile/slide-01-min-mob.jpg    1x,
                ../img/about-us/Mobile/slide-01@2x-mob-min.jpg 2x
              "
            />
            <img
              src="../img/about-us/Mobile/slide-01-min-mob.jpg"
              alt="slide-01"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/about-us/Desk/slide-02-desk-min.jpg    1x,
                ../img/about-us/Desk/slide-02@2x-desk-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about-us/Tablet/slide-02-tab-min.jpg    1x,
                ../img/about-us/Tablet/slide-02@2x-tab-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about-us/Mobile/slide-02-min-mob.jpg    1x,
                ../img/about-us/Mobile/slide-02@2x-mob-min.jpg 2x
              "
            />
            <img
              src="../img/about-us/Mobile/slide-02-min-mob.jpg"
              alt="slide-02"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/about-us/Desk/slide-03-desk-min.jpg    1x,
                ../img/about-us/Desk/slide-03@2x-desk-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about-us/Tablet/slide-03-tab-min.jpg    1x,
                ../img/about-us/Tablet/slide-03@2x-tab-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about-us/Mobile/slide-03-min-mob.jpg    1x,
                ../img/about-us/Mobile/slide-03@2x-mob-min.jpg 2x
              "
            />
            <img
              src="../img/about-us/Mobile/slide-03-min-mob.jpg"
              alt="slide-03"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/about-us/Desk/slide-04-desk-min.jpg    1x,
                ../img/about-us/Desk/slide-04@2x-desk-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about-us/Tablet/slide-04-tab-min.jpg    1x,
                ../img/about-us/Tablet/slide-04@2x-tab-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about-us/Mobile/slide-04-min-mob.jpg    1x,
                ../img/about-us/Mobile/slide-04@2x-mob-min.jpg 2x
              "
            />
            <img
              src="../img/about-us/Mobile/slide-04-min-mob.jpg"
              alt="slide-04"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/about-us/Desk/slide-05-desk-min.jpg    1x,
                ../img/about-us/Desk/slide-05@2x-desk-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about-us/Tablet/slide-05-tab-min.jpg    1x,
                ../img/about-us/Tablet/slide-05@2x-tab-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about-us/Mobile/slide-05-min-mob.jpg    1x,
                ../img/about-us/Mobile/slide-05@2x-mob-min.jpg 2x
              "
            />
            <img
              src="../img/about-us/Mobile/slide-05-min-mob.jpg"
              alt="slide-05"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-navigation">
        <div class="swiper-btns">
          <div class="swiper-button-next">
            <svg class="" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-forward"></use>
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg class="about-icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-back"></use>
            </svg>
          </div>
        </div>
        <div class="about-swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
