<section class="footer">
  <div class="container footer-container">
    <a class="footer-logo" href="./index.html" aria-label="Footer-logo">
      <img
        class="footer-logo-img"
        src="/img/logo.svg"
        alt="Company logo"
        width="298"
        height="97"
      />
    </a>
    <ul class="footer-nav-list">
      <li class="footer-nav-item"><a href="#about-us">Про нас</a></li>
      <li class="footer-nav-item"><a href="#pets">Знайти друга</a></li>
      <li class="footer-nav-item"><a href="#faq">Часті запитання</a></li>
      <li class="footer-nav-item"><a href="#success">Історії успіху</a></li>
    </ul>
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer-social-list-icon" width="27" height="27">
            <use href="/public/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer-social-list-icon" width="27" height="27">
            <use href="/public/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <hr class="footer-decor-line" />
    <p class="footer-copyright">
      &copy;2025 Хатинка лапок. Всі права захищені.
    </p>
  </div>
</section>
