<footer class="footer" id="footer">
  <div class="container footer__container">
    <!-- ЛОГО -->
    <a
      href="#hero"
      class="footer__logo"
      aria-label="Хатинка лапок — на головну"
    >
      <img
        src="../img/company-logo.svg"
        alt="Хатинка лапок"
        class="footer__logo-img"
        width="302"
        height="129"
      />
    </a>

    <!-- НАВИГАЦИЯ -->
    <nav class="footer__nav" aria-label="Навігація по сторінці">
      <ul class="footer__nav-list">
        <li><a class="footer__nav-link" href="#about-us">Про нас</a></li>
        <li><a class="footer__nav-link" href="#pets">Знайди друга</a></li>
        <li><a class="footer__nav-link" href="#faq">Часті запитання</a></li>
        <li><a class="footer__nav-link" href="#stories">Історії успіху</a></li>
      </ul>
    </nav>

    <!-- СОЦСЕТИ  -->
    <ul class="footer__social" aria-label="Соціальні мережі">
      <li>
        <a
          class="footer__social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="footer__social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <p class="footer__copyright">© 2025 Хатинка лапок. Всі права захищені.</p>
    </div>
  </div>
</footer>
