<section class="success" id="success">
    <div class="container">
        <h2 class="success-title">Щасливі історії, що надихають</h2>
        <p class="success-subtitle">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>

            <div class="swiper success-swiper">
                <ul class="swiper-wrapper success-list"></ul>
                <div class="success-btn-box">
                    <div class="success-swiper-pagination swiper-pagination carousel-navigation"></div>
                    
                    <div class="success-btn success-button-back success-btn-disabled" type="button">
                        <svg class="success-arrow-back" width="24" height="24">
                            <use href="/img/sprite.svg#icon-arrow-back"></use>
                        </svg>
                    </div>
                    <div class="success-btn success-button-forward" type="button">
                        <svg class="success-arrow-forward" width="24" height="24">
                            <use href="/img/sprite.svg#icon-arrow-forward"></use>
                        </svg>
                    </div>
                </div>
        </div>

    </div>
</section>
