@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }

  to {
    transform: translateX(-104%) translateY(-50%);
  }
}

@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
    
  50% {
      transform: scale(1.1);
      opacity: 0.88;
  }
    
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}