@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }

  to {
    transform: translateX(-104%) translateY(-50%);
  }
}

@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
    
  50% {
      transform: scale(1.1);
      opacity: 0.88;
  }
    
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes head {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(-20deg);
  }

  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes tongue {
  0% {
    height: 10px;
  }

  30% {
    height: 10px;
  }

  40% {
    height: 20px;
  }

  60% {
    height: 10px;
  }

  80% {
    height: 20px;
  }

  90% {
    height: 10px;
  }

  100% {
    height: 10px;
  }
}

@keyframes tail {
  0% {
    transform: rotate(-47deg);
  }

  100% {
    transform: rotate(-57deg);
  }
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }

  18% {
    opacity: 0.2;
  }

  22% {
    opacity: 0;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(1000px) scale(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-1000px) scale(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

