.details-modal-backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.body-lock {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}

.details-modal {
  background: var(--color-mariner-lightest);
  border-radius: 8px;
  width: 100%;
  overflow: visible;
  padding: 64px 20px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  width: clamp(280px, calc(100vw - 40px), 335px);
  overflow-x: hidden;
  outline: transparent;
}

.details-modal::-webkit-scrollbar {
  width: 6px;
}

.details-modal::-webkit-scrollbar-track {
  background: var(--color-mariner-lightest);
  border-radius: 8px;
}

.details-modal::-webkit-scrollbar-thumb {
  background: var(--color-mariner-dark);
  border-radius: 8px;
  border: 2px solid var(--color-mariner-lightest);
}

.details-modal::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-darkest);
}

.details-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  transition: background-color 500ms ease-in-out, border 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.details-modal-close:hover,
.details-modal-close:focus {
  transform: scale(1.5) rotate(180deg);
}

.details-modal-close-icon {
  pointer-events: none;
  display: block;
  outline: none;
}

.details-modal-body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.details-modal-left,
.details-modal-right {
  flex: 1;
}

.details-modal-left {
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.details-modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms ease-in-out;
}

.details-modal-img:hover {
  transform: scale(1.1);
}

.details-modal-species {
  font-size: 12px;
  margin-bottom: 8px;
}

.details-modal-name {
  font-family: var(--second-family);
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.details-modal-info {
  font-size: 12px;
  margin-bottom: 24px;
}

.details-modal-subtitle {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}

.details-modal-description,
.details-modal-health,
.details-modal-behavior {
  font-size: 14px;
  margin-bottom: 24px;
}

.details-modal-adopt-btn {
  border-radius: 8px;
  padding: 12px 24px;
  max-width: 295px;
  height: 45px;
  width: 100%;
  border: 1px solid var(--color-mariner-dark);
  background-color: var(--color-mariner-dark);
  color: var(--color-white);
  font-size: 14px;
  transition: background-color 500ms ease-in-out, box-shadow 500ms ease-in-out,
    color 500ms ease-in-out;
}

.details-modal-adopt-btn:hover,
.details-modal-adopt-btn:focus {
  border: 1px solid var(--color-mariner-dark);
  background-color: var(--color-mariner-lighter);
  color: var(--color-neutral-darkest);
}

.details-modal-adopt-btn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: var(--input-bc-focus);
  color: var(--color-neutral-darkest);
}

@media (min-width: 768px) {
  .details-modal {
    max-width: 704px;
    width: 100%;
    padding: 64px 32px;
  }

  .details-modal-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .details-modal-left {
    flex: 0 0 50%;
    max-width: 304px;
  }

  .details-modal-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .details-modal-right::-webkit-scrollbar {
    width: 4px;
  }

  .details-modal-right::-webkit-scrollbar-track {
    background: var(--color-mariner-lightest);
    border-radius: 2px;
  }

  .details-modal-right::-webkit-scrollbar-thumb {
    background: var(--color-mariner-dark);
    border-radius: 4px;
    border: 2px solid var(--color-mariner-lightest);
  }

  .details-modal-img {
    width: 100%;
    min-height: 450px;
    object-fit: cover;
    border-radius: 8px;
  }

  .details-modal-species {
    order: 1;
  }

  #details-modal-title {
    order: 2;
  }

  .details-modal-info {
    order: 3;
  }

  .details-modal-adopt-btn {
    order: 4;
    align-self: flex-start;
    margin-bottom: 24px;
    width: 304px;
    height: 53px;
  }

  .details-modal-right .details-modal-subtitle:nth-of-type(1) {
    order: 5;
  }

  .details-modal-description {
    order: 6;
  }

  .details-modal-right .details-modal-subtitle:nth-of-type(2) {
    order: 7;
  }

  .details-modal-health {
    order: 8;
  }

  .details-modal-right .details-modal-subtitle:nth-of-type(3) {
    order: 9;
  }

  .details-modal-behavior {
    order: 10;
  }
}

@media (min-width: 1440px) {
  .details-modal {
    max-width: 1312px;
    width: 100%;
    padding: 64px;
  }

  .details-modal-left {
    flex: 0 0 50%;
    max-width: 576px;
  }

  .details-modal-right {
    flex: 1;
  }

  .details-modal-img {
    height: 450px;
  }

  .details-modal-species {
    font-size: 14px;
  }

  .details-modal-name {
    font-size: 40px;
  }

  .details-modal-info {
    font-size: 14px;
  }

  .details-modal-subtitle {
    font-size: 16px;
  }

  .details-modal-description,
  .details-modal-health,
  .details-modal-behavior {
    font-size: 16px;
  }

  .details-modal-adopt-btn {
    order: 10;
    max-width: 576px;
    width: 100%;
    height: 56px;
    font-size: 16px;
  }
}
