.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-title {
  font-size: 36px;   
  margin-bottom: 40px; 
}

.accordion-container .ac {
  margin-top: 16px;
}

.accordion-container .ac {
  background-color: var(--color-mariner-lighter);
  border-radius: 8px;
  overflow: hidden;
}

.faq-trigger{
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 20px 24px;
}

.faq-trigger-text{
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}


.faq-trigger::after {
  display: none;
}

.ac-trigger-icon {
  transition: transform 200ms ease;
}

.ac.is-active .faq-svg {
  transform: rotate(45deg);
}

.faq-panel {
  overflow: hidden;
  transition: height 350ms ease;
}

.faq-form {
  padding: 0 24px 24px; 

}

.faq-text {
  font-size: 14px;
  margin-bottom: 12px;
}

.ac-text-list {
  padding-left: 21px;
  flex-direction: column;
  list-style: disc;
}

.faq-list {
  list-style: decimal;
}

.faq-list-item {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}

.faq-list-item:last-child{
  margin-bottom: 0;
}

.faq-list-item:nth-child(3){
  margin-bottom: 12px;
}

/* ===================== TABLET (>= 768px) ===================== */
@media (min-width: 768px) {

  .faq-title {
    margin-bottom: 80px;
  }

  .faq-trigger {
    align-items: center; 
    min-height: 64px;    
  }

  .faq-svg {
    transition: transform 200ms ease;
  }

  .ac.is-active .faq-svg {
    transform: rotate(45deg); 
  }
}

/* ===================== DESKTOP (>= 1440px) ===================== */
@media (min-width: 1440px) {

  .faq-accordion {
    max-width: 864px;
  }

  .faq-title {
    font-size: 48px; 
  }

  .faq-trigger {

    min-height: 67px;            
    font-size: 18px;             
  }

  .faq-trigger-text {
    font-size: 18px; 
  }

  .faq-text {
    font-size: 16px; 
  }

  .faq-list-item {
    font-size: 16px; 
  }

}
