.faq {
  background-color: var(--color-scheme-1-background);
  color: var(--color-neutral-darkest);
  padding: 64px 20px;
  min-width: 320px;
}

.faq-container {
  margin: 0 auto;
  max-width: 343px; 
}

.faq-title {
  text-align: center;
  margin-bottom: 40px;
}

.faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 16px;
  justify-items: center; 
}

.faq-item {
  width: 100%;
  background-color: var(--color-mariner-lighter);
  border-radius: 16px;
  overflow: hidden;
}

.faq-trigger {
  gap: 24px;
  padding: 20px 24px;
  display: flex;
  align-items: center; 
  background: transparent;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  text-align: left;
}

.ac.is-active .faq-icon {
  margin-top: 2px; 
}

.faq-question {
  font-weight: 700;
  font-size: 16px; 
  line-height: 1.5;
}

.faq-svg { 
  transition: transform 200ms ease;
}

.ac .ac-panel {
  overflow: hidden;
  transition: height 350ms ease;
}

.faq-panel {
  padding: 0 24px;
}

.ac.is-active .faq-panel {
  padding: 0 24px 24px;
}

.faq-content {
  font-family: var(--font-family);
  font-size: 14px; 
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

.faq-content p {
  margin-bottom: 12px;
}

.faq-content li {
  margin-bottom: 12px;
}

.faq-content p:last-child {
  margin-top: 12px;
}

.faq-content p:last-child {
  margin-bottom: 0;
}

.faq-content ul {
  padding-left: 24px;
}

.faq-content li:last-child {
  margin-bottom: 0;
}

.faq-item:nth-child(1) .faq-content ul {
  list-style: decimal;
}

.faq-item:nth-child(2) .faq-content ul,
.faq-item:nth-child(3) .faq-content ul,
.faq-item:nth-child(4) .faq-content ul {
  list-style: disc;
}

.ac.is-active .faq-svg {
  transform: rotate(45deg);
}

/* ================= TABLET (768) ================= */
@media (min-width: 768px) {
  .faq {
    padding: 64px 32px;
  }

  .faq-container {
    max-width: 704px;
  }

  .faq-title {
    margin-bottom: 80px;
  }

  .faq-trigger {
    width: 704px; 
    min-height: 64px; 
    align-items: center; 
  }

  .faq-question {
    font-size: 16px; 
  }

  .faq-content {
    font-size: 14px; 
  }

  .faq-content ul {
    padding-left: 24px;
  }

}

/* ================= DESKTOP (1440) ================= */
@media (min-width: 1440px) {
  .faq {
    padding: 80px 64px;
  }

  .faq-container {
    max-width: 864px;
  }

  .faq-title {
    font-size: 48px; 
  }

  .faq-item {
    max-width: 864px; 
  }

  .faq-trigger {
    width: 864px; 
    min-height: 67px; 
    align-items: center;
  }

  .faq-question {
    font-size: 18px; 
  }

  .faq-content {
    font-size: 16px;
  }

  .ac.is-active .faq-icon {
    margin-top: 0; 
  }
}