.faq {
  position: relative;
  overflow: hidden;
  min-width: 320px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.faq-title {
  margin-bottom: 40px;
}

.ac {
  background-color: var(--color-mariner-lighter);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.ac-header {
  margin: 0;
}

.ac-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  min-width: 320px;
  width: 100%;
  padding: 20px 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
  line-height: 0.5;
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out;
}

.ac-trigger:hover {
  background-color: var(--color-mariner);
  transform: scale(1.007);
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out;
}

.ac-panel {
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.faq-question {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.faq-content p {
  font-size: 14px;
}

.faq-content {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-content ol,
.faq-content ul {
  margin: 0;
  padding-left: 21px;
}

.faq-content ol {
  list-style: decimal;
}

.faq-content ul {
  list-style: disc;
}

.faq-content li {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.faq-content li + li {
  margin-top: 12px;
}

.faq-content li p {
  margin: 0;
  font-size: inherit;
}

.faq-content > :last-child {
  margin-bottom: 0;
}

.accordion-container .ac:nth-child(5) .faq-content > ul {
  list-style: none;
  padding-left: 0;
}

.faq-icon svg {
  transition: transform 500ms ease-in-out;
}

.ac.is-active .faq-icon svg {
  transform: rotate(135deg);
}

.faq-ajax-loader {
  position: absolute;
  top: 0%;
  left: -4%;
  transform-origin: 50% 50%;
  transform: translate(150%, 0) rotate(320deg);
  font-size: 68px;
  width: 1em;
  height: 3em;
  z-index: -1;
}

.faq-ajax-loader .paw {
  display: block;
  width: 1em;
  height: 1em;
  animation: 6000ms pawAnimation ease-in-out infinite;
  opacity: 0;
  transform: rotate(90deg);
}

.faq-ajax-loader .paw svg {
  width: 100%;
  height: 100%;
}

.faq-ajax-loader .paw .icon {
  fill: var(--color-mariner);
}

.faq-ajax-loader .paw:nth-child(odd) {
  transform: rotate(-10deg);
}

.faq-ajax-loader .paw:nth-child(even) {
  transform: rotate(10deg) translate(150%, 0);
}

.no-cssanimations .faq-ajax-loader .paw {
  opacity: 1;
}
@media (min-width: 768px) {
  .faq-title {
    margin-bottom: 80px;
  }

  .faq-ajax-loader {
    top: -5%;
    left: -5%;
    transform: rotate(300deg) translate(-50%, 0%);
    font-size: 76px;
  }

  .faq-ajax-loader .paw:nth-child(even) {
    transform: rotate(10deg) translate(125%, 0);
  }
}
@media only screen and (min-width: 1440px) {
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accordion-container {
    max-width: 864px;
    width: 100%;
  }

  .faq-title {
    font-size: 48px;
  }

  .ac-trigger {
    min-height: 67px;
    font-size: 18px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-content:last-child {
    padding: 0 23px 24px;
  }

  .faq-content p {
    font-size: 16px;
  }

  .faq-content li {
    font-size: 16px;
  }

  .faq-ajax-loader {
    top: -4%;
    left: 0%;
    transform: rotate(290deg) translate(-50%, 0%);
    font-size: 100px;
  }

  .faq-ajax-loader .paw:nth-child(even) {
    transform: rotate(10deg) translate(140%, 0);
  }
}
