.faq {
  position: relative;
  overflow: hidden;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.faq-title {
  margin-bottom: 40px;
}

.accordion-container .ac {
  background-color: var(--color-mariner-lighter);
  border-radius: 8px;
  overflow: hidden;
}

.faq-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  padding: 20px 24px;
  line-height: 0.5;
  color: inherit;
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out;
}

.faq-trigger.ac-trigger:hover {
  background-color: var(--color-mariner);
  transform: scale(1.007);
}

.faq-trigger-text {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.faq-svg {
  transition: transform 500ms ease-in-out;
}

.ac.is-active .faq-svg {
  transform: rotate(135deg);
}

.faq-form {
  padding: 0 24px 24px;
}

.faq-text {
  margin-bottom: 12px;
  font-size: 14px;
}

.ac-text-list {
  padding-left: 21px;
  list-style: disc;
}

.faq-list {
  list-style: decimal;
}

.faq-list-item {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}

.faq-list-item:last-child {
  margin-bottom: 0;
}

.faq-list-item:nth-child(3) {
  margin-bottom: 12px;
}


.faq-ajax-loader {
  position: absolute;
  top: 0%;
  left: -4%;
  transform-origin: 50% 50%;
  transform: translate(150%, 0) rotate(320deg);
  font-size: 68px;
  width: 1em;
  height: 3em;
  z-index: -1;
}

.faq-ajax-loader .paw {
  display: block;
  width: 1em;
  height: 1em;
  animation: 6000ms pawAnimation ease-in-out infinite;
  opacity: 0;
  transform: rotate(90deg);
}

.faq-ajax-loader .paw svg {
  width: 100%;
  height: 100%;
}

.faq-ajax-loader .paw .icon {
  fill: var(--color-mariner);
}

.faq-ajax-loader .paw:nth-child(odd) {
  transform: rotate(-10deg);
}

.faq-ajax-loader .paw:nth-child(even) {
  transform: rotate(10deg) translate(150%, 0);
}

.no-cssanimations .faq-ajax-loader .paw {
  opacity: 1;
}


/* ===================== TABLET (>= 768px) ===================== */
@media (min-width: 768px) {
  .faq-title {
    margin-bottom: 80px;
  }

  .faq-ajax-loader {
    top: -5%;
    left: -5%;
    transform: rotate(300deg) translate(-50%, 0%);
    font-size: 76px;
  }

  .faq-ajax-loader .paw:nth-child(even) {
    transform: rotate(10deg) translate(125%, 0);
  }
}

/* ===================== DESKTOP (>= 1440px) ===================== */
@media only screen and (min-width: 1440px) {
  body .faq-container.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .faq-wrapper.accordion-container {
    max-width: 864px;
    width: 100%;
  }

  .faq-title {
    font-size: 48px;
  }

  .faq-trigger {
    min-height: 67px;
    font-size: 18px;
  }

  .faq-trigger-text {
    font-size: 18px;
  }

  .faq-list-item {
    font-size: 16px;
  }

  .faq-text.ac-text {
    font-size: 16px;
  }

  .faq-form.ac-form:last-child {
    padding: 0 23px 24px;
  }

  .faq-ajax-loader {
    top: -4%;
    left: 0%;
    transform: rotate(290deg) translate(-50%, 0%);
    font-size: 100px;
  }

  .faq-ajax-loader .paw:nth-child(even) {
    transform: rotate(10deg) translate(140%, 0);
  }
}
