.footer {
  background-color: var(--color-mariner);
  min-width: 320px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-bottom: 50px;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.04);
  opacity: 0.4;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-nav-item {
  position: relative;
  font-size: 12px;
  font-weight: 600;
}

.footer-nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 500ms ease-in-out;
}

.footer-nav-item:hover::after,
.footer-nav-item:focus::after {
  transform: scaleX(1);
}

.footer-nav-item:active {
  color: var(--color-mariner-dark);
}

.footer-nav-item:active::after {
  transform: scaleX(1);
}

.footer-nav-item:disabled {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: all 500ms ease-in-out;
}

.footer-social-item:hover {
  fill: var(--color-mariner-dark);
  scale: 1.2;
}

.footer-social-list-icon {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-decor-line {
  display: block;
  border: none;
  width: 100%;
  height: 1px;
  background-color: rgba(2, 6, 10, 0.15);
  margin: 0 0 32px;
  padding: 0;
}

.footer-copyright {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-nav-item {
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 14px;
  }
}
