.hero-section {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: 320px;
  height: clamp(544px, calc(544px + 356 * ((100vw - 320px) / 1120)), 900px);
  /* min-height: 544px;
  height: clamp(544px, 60vh, 900px); */
}

.hero-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-background,
.hero-section::before {
  pointer-events: none;
}

.hero-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(62, 54, 38, 0.74),
    rgba(62, 54, 38, 0)
  );
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 24px;
}

.hero-text {
  color: var(--color-white);
  margin-bottom: 32px;
}

.hero-btn {
  display: inline-block;
  font-weight: 400;
  border-radius: 8px;
  padding: 12px 22px;
  width: 171px;
  height: 45px;
  font-size: 14px;
  border: 1px solid var(--color-mariner-dark);
  background-color: var(--color-mariner-dark);
  color: var(--color-white);
  transition: border-color 500ms ease-in-out, background-color 500ms ease-in-out,
    color 500ms ease-in-out, box-shadow 500ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
  border-color: var(--color-mariner-dark);
  /* background-color: var(--color-mariner-lighter); */
  color: var(--color-neutral-darkest);
  background-color: var(--color-mariner);
}

.hero-btn:active {
  border: 1px solid var(--color-mariner-dark);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: var(--color-mariner-lighter);
  color: var(--color-neutral-darkest);
}

.hero-btn:disabled {
  border: 1px solid var(--color-mariner-dark);
  color: var(--color-white);
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    width: 512px;
  }
}

@media only screen and (min-width: 1440px) {
  /* .hero-section {
    height: 900px;
  } */

  .hero-title {
    font-size: 56px;
    width: 622px;
  }

  .hero-text {
    width: 512px;
    font-size: 18px;
  }

  .hero-btn {
    width: 189px;
    height: 48px;
    font-size: 16px;
  }
}
