.order-modal-overlay {
position: fixed;
inset: 0;
z-index: 999;
display: flex;
align-items: center;
justify-content: center;
padding: 0 16px;
background-color: var(--modal-overlay); 
opacity: 0;
visibility: hidden;
padding: 20px 64px;
pointer-events: none;
transition: opacity 250ms ease, visibility 250ms ease;

width: 100%;
height: 100%;
}

.is-open {
opacity: 1;
pointer-events: auto;
visibility: visible;
}

.order-modal {
/* position: relative; */
position: fixed;
top: 50%;
left: 50%;
width: 100%;

display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;


min-width: 320px;
max-width: 375px;

border-radius: 8px;
padding: 64px 20px;
/* max-width: 335px; */
/* width: 100%; */
max-height: 90vh;
overflow-y: auto;
background-color: var(--color-mariner-lightest);
transform: translate(-50%, -50%);
transition: transform 250ms ease-in-out;
} 

.order-modal-title {
width: 295px;
margin-bottom: 48px;
}

.order-modal-close-btn {
position: absolute;
top: 16px;
right: 16px;
display: flex;
align-items: center;
justify-content: center;
background: transparent;
border: none;
cursor: pointer;
transition: background-color 250ms ease-in-out,
border 250ms ease-in-out;
}

.order-modal-form {
width: 100%;
display: flex;
flex-direction: column;
gap: 24px;
}

.order-modal-group-textarea {
max-width: 100%;
box-sizing: border-box;
width: 100%;
}

.order-modal-label {
font-weight: 400;
font-size: 14px;
}

.order-modal-input {
box-sizing: border-box;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: var(--opacity-neutral-darkest-60);
width: 100%;
height: 37px;
background-color: var(--opacity-neutral-darkest-5);
transition: border 250ms ease;
border-radius: 12px;
padding: 8px 12px;
border: none;
margin-top: 8px;
}

.order-modal-input:focus,
.order-modal-input-textarea:focus {
    border: 1px solid var(--color-mariner-dark);
    outline: none;
    background-color: var(--input-bc-focus);
    color: #02060a;
}

.order-modal-input:focus::placeholder {
    opacity: 0;
}

.order-modal-input-textarea:focus::placeholder {
    opacity: 0;
}

.order-modal-input-textarea {
box-sizing: border-box;
margin-top: 8px;
width: 100%;
border-radius: 12px;
padding: 8px 12px;
background-color: var(--opacity-neutral-darkest-5);
border: none;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: var(--opacity-neutral-darkest-60);
outline: 1px solid transparent;
transition: outline-color 250ms ease;
min-height: 180px;
}

.order-modal-send-button {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border: 1px solid var(--color-mariner-dark);
border-radius: 8px;
padding: 12px 24px;
width: 100%;
height: 45px;
background-color: var(--color-mariner-dark);
font-weight: 400;
font-size: 14px; 
line-height: 1.5;
color: var(--color-white);
}

.order-modal-send-button:hover,
.order-modal-send-button:focus {
border: 1px solid #88765c;
background-color: #eee9e3;

}

.order-modal-send-button:active {
box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
background: #eee9e3;
color: #02060a;
/* border: 1px solid #88765c; */
}


@media (min-width: 768px) {
  .order-modal {
    max-width: 704px;
    padding: 64px 32px;
  }

  .order-modal-send-button{
width: 240px;
height: 45px;
margin: 0 auto;
  }

  .order-modal-title{
    width: 640px;
  }
}

@media (min-width: 1440px) {
  .order-modal {
    max-width: 768px;
    padding: 64px;
  }
 }

