.order-modal-container {
background-color: transparent;
min-width: 335px;
max-width: 375px;
}

.order-modal-overlay {
position: fixed;
inset: 0;
z-index: 999;
display: flex;
align-items: center;
justify-content: center;
padding: 0 16px;
background-color: var(--modal-overlay); 
opacity: 0;
visibility: hidden;
padding: 20px 64px;
pointer-events: none;
transition: opacity 250ms ease, visibility 250ms ease;
}

.is-open {
opacity: 1;
pointer-events: auto;
visibility: visible;
}

.order-modal {
position: relative;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
border-radius: 8px;
padding: 64px 20px;
/* max-width: 335px; */
width: 100%;
max-height: 90vh;
overflow-y: auto;
background-color: var(--color-mariner-lightest);
} 


/*как сделать текст в три ряда? <br> не сработает для таблет и десктоп*/
.order-modal-text {
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
color: var(--color-neutral-darkest);
width: 295px;
margin-bottom: 48px;
}

.order-modal-close-btn {
position: absolute;
top: 16px;
right: 16px;
display: flex;
align-items: center;
justify-content: center;
background: transparent;
border: none;
cursor: pointer;
transition: background-color 250ms ease-in-out,
border 250ms ease-in-out;
}

.order-modal-form {
width: 100%;
display: flex;
flex-direction: column;
gap: 24px;
}

.order-modal-group {
display: flex;
flex-direction: column;
width: 100%;
}

.order-modal-group-textarea {
max-width: 100%;
box-sizing: border-box;
width: 100%;
}

.order-modal-label {
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: var(--color-neutral-darkest);
}

.order-modal-input {
box-sizing: border-box;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: var(--opacity-neutral-darkest-60);
width: 100%;
height: 37px;
background-color: var(--opacity-neutral-darkest-5);
transition: outline-color 250ms ease;
border-radius: 12px;
padding: 8px 12px;
border: none;
margin-top: 8px;
}

.order-modal-input-textarea {
box-sizing: border-box;
margin-top: 8px;
width: 100%;
border-radius: 12px;
padding: 8px 12px;
background-color: var(--opacity-neutral-darkest-5);
border: none;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: var(--opacity-neutral-darkest-60);
outline: 1px solid transparent;
transition: outline-color 250ms ease;
min-height: 180px;
}

.order-modal-send-button {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border: 1px solid var(--color-mariner-dark);
border-radius: 8px;
padding: 12px 24px;
width: 100%;
height: 45px;
background-color: var(--color-mariner-dark);
font-weight: 400;
font-size: 14px; 
line-height: 1.5;
color: var(--color-white);
}


@media (min-width: 768px) {
  .order-modal {
    max-width: 704px;
    padding: 64px 32px;
  }

  .order-modal-send-button{
width: 240px;
height: 45px;
margin: 0 auto;
  }

  .order-modal-text{
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .order-modal {
    max-width: 768px;
    padding: 64px;
  }
  .order-modal-text{
   font-size: 48px; /*опять на две строчки текст*/
  }
}