.order-modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1002;
  background-color: var(--modal-overlay);
  transition: opacity 250ms ease-in-out;
}

.order-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  padding: 64px 20px;
  box-sizing: border-box;
  width: clamp(280px, calc(100vw - 40px), 335px);
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-mariner-lightest);
}

.order-modal-overlay.is-open .order-modal {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.order-modal::-webkit-scrollbar {
  width: 6px;
}

.order-modal::-webkit-scrollbar-track {
  background: var(--color-mariner-lightest);
  border-radius: 8px;
}

.order-modal::-webkit-scrollbar-thumb {
  background: var(--color-mariner-dark);
  border-radius: 8px;
  border: 2px solid var(--color-mariner-lightest);
}

.order-modal::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-darkest);
}

.order-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.order-modal-close-btn:hover,
.order-modal-close-btn:focus {
  transform: scale(1.5) rotate(180deg);
}

.order-modal-close-icon {
  pointer-events: none;
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.order-modal-title {
  margin-bottom: 48px;
}

.order-modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.order-modal-group-textarea {
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
}

.order-modal-label {
  font-size: 14px;
}

.order-modal-input {
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  background-color: var(--opacity-neutral-darkest-5);
  transition: border 250ms ease;
  border-radius: 12px;
  padding: 8px 12px;
  border: none;
  margin-top: 8px;
}

.order-modal-input:focus,
.order-modal-input-textarea:focus {
  border: 1px solid var(--color-mariner-dark);
  outline: none;
  background-color: var(--input-bc-focus);
  color: var(--color-neutral-darkest);
}

.order-modal-input:focus::placeholder {
  opacity: 0;
}

.order-modal-input-textarea:focus::placeholder {
  opacity: 0;
}

.order-modal-input-textarea {
  box-sizing: border-box;
  margin-top: 8px;
  width: 100%;
  border-radius: 12px;
  padding: 12px 12px;
  background-color: var(--opacity-neutral-darkest-5);
  border: none;
  outline: 1px solid transparent;
  transition: outline-color 250ms ease;
  min-height: 180px;
  resize: none;
}

.order-modal-send-button {
  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 12px 24px;
  max-width: 295px;
  width: 100%;
  height: 45px;
  background-color: var(--color-mariner-dark);
  font-size: 14px;
  color: var(--color-white);
  margin: 0 auto;
  transition: transform, background-color 500ms ease-in-out,
    box-shadow 500ms ease-in-out;
}

.order-modal-send-button:hover,
.order-modal-send-button:focus {
  border: 1px solid var(--color-mariner-dark);
  background-color: var(--input-bc-focus);
  color: var(--color-neutral-darkest);
  transform: scale(0.9);
}

.order-modal-send-button:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: var(--input-bc-focus);
  color: var(--color-neutral-darkest);
}

.order-modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.order-modal {
  transform: translate(-50%, -50%) scale(1);
}

.order-modal.is-hidden {
  transform: translate(-50%, -50%) scale(0.95);
}

@media (min-width: 768px) {
  .order-modal {
    max-width: 704px;
    width: 100%;
    padding: 64px 32px;
  }

  .order-modal-send-button {
    width: 240px;
    height: 45px;
  }
}

@media (min-width: 1440px) {
  .order-modal {
    max-width: 768px;
    padding: 64px;
  }

  .order-modal-label {
    font-size: 16px;
  }

  .order-modal-input {
    height: 40px;
  }

  .order-modal-send-button {
    font-size: 16px;
    height: 48px;
  }

  .order-modal-input,
  .order-modal-input-textarea {
    font-size: 16px;
  }
}
