/* loader */

.pets-loader {
  width: 100px;
  height: 100px;
  display: none;
  margin: 10px auto;
  position: relative;
}
.pets-loader::after,
.pets-loader::before {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--color-mariner-dark);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.pets-loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* pagination */

.pets-pagination {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pets-pagination li button {
  height: 48px;
  width: 58px;

  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;

  transition: border 250ms ease-in-out;
}

.pets-pagination li button:hover,
.pets-pagination li button:focus {
  border-color: var(--color-neutral-light);
}

.pets-pagination li button:active {
  border-width: 2px;
}

.pagination-btn.active {
  border-color: var(--color-neutral-light);
}

.pets-pagination li .pagination-btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;

  border: 1px solid var(--color-mariner);
  background-color: var(--color-mariner-lighter);

  transition: border 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.pets-pagination li .pagination-btn-arrow:hover,
.pets-pagination li .pagination-btn-arrow:focus {
  border-color: var(--opacity-neutral-darkest-60);
}

.pets-pagination li .pagination-btn-arrow:active {
  border-width: 1px;
  box-shadow: inset 0 4px 6px -2px var(--shadow-1),
    inset 0 12px 16px -4px var(--shadow-2);
}

.pets-pagination li .pagination-btn-arrow:disabled {
  border-color: transparent;
  opacity: 0.4;
}

.pets-pagination li .pagination-btn-arrow:disabled:active {
  box-shadow: none;
}

/* mobile */

.pets-section {
  padding-top: 64px;
  padding-bottom: 32px;
}
.pets-title {
  line-height: 1.2;
  letter-spacing: -0.01em;

  margin-bottom: 16px;
}

.pets-subtitle {
  text-align: center;
  line-height: 1.5;

  margin-bottom: 32px;
}

.pets-ctgs-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 32px;
}

.pets-ctgs-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1.5;
  transition: background-color 250ms ease-in-out, font-weight 250ms ease-in-out,
    border 250ms ease-in-out;

  padding: 10px 16px;
}

.pets-ctgs-btn.active {
  background-color: var(--color-mariner-lighter);
  font-weight: 500;
}

.pets-ctgs-btn:focus,
.pets-ctgs-btn:hover {
  background-color: var(--color-mariner-lighter);
  font-weight: 500;
}

.pets-ctgs-btn:active {
  border: 1px solid var(--color-neutral-darkest);
}

.pets-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pets-item {
  background-color: var(--color-mariner-lighter);
  border-radius: 16px;

  padding: 12px;
}

.pets-img {
  border-radius: 8px;

  margin-bottom: 16px;
}

.pets-species {
  font-size: 10px;
  line-height: 1.5;

  margin-bottom: 4px;
}

.pets-name {
  font-family: var(--second-family);
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;

  margin-bottom: 4px;
}

.pets-own-ctgs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  margin-bottom: 10px;
}

.pets-own-ctgs-item {
  border-radius: 100px;
  padding: 4px 10px;
  background-color: var(--opacity-neutral-darkest-5);
}

.pets-own-ctgs-item p {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
}

.pets-info {
  display: flex;
  gap: 16px;
}

.pets-info p {
  font-size: 10px;
  line-height: 1.5;

  margin-bottom: 16px;
}

.pets-behavior {
  font-size: 12px;
  line-height: 1.5;

  margin-bottom: 16px;
}

.pets-modal-btn {
  width: 100%;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 0;

  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.pets-modal-btn:hover,
.pets-modal-btn:focus {
  background-color: var(--color-mariner-light);
}

.pets-modal-btn:active,
.pets-load:active {
  box-shadow: inset 0 4px 6px -2px var(--shadow-1),
    inset 0 12px 16px -4px var(--shadow-2);
}

.pets-load-btn {
  display: none;
  width: 100%;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid var(--color-mariner-dark);
  background-color: var(--color-mariner-dark);

  padding: 12px 0;
  margin-top: 40px;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.pets-load:hover,
.pets-load:focus {
  background-color: var(--color-mariner-lighter);
  color: var(--color-neutral-darkest);
}

/* tablet */

@media only screen and (min-width: 768px) {
  .pets-ctgs-list {
    width: 579px;
    margin: 0 auto 32px auto;
  }

  .pets-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pets-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 32px) / 2);
  }
}

/* desktop */

@media only screen and (min-width: 1440px) {
  .pets-section {
    padding-top: 80px;
    margin-bottom: 40px;
  }

  .pets-title {
    font-size: 48px;
  }

  .pets-subtitle {
    font-size: 18px;
  }

  .pets-ctgs-list {
    width: 1280px;
    margin-bottom: 40px;
  }

  .pets-item {
    width: calc((100% - 64px) / 3);
  }

  .pets-species {
    font-size: 12px;
  }

  .pets-name {
    font-size: 24px;
  }

  .pets-own-ctgs-item p {
    font-size: 12px;
  }

  .pets-info p {
    font-size: 12px;
  }

  .pets-behavior {
    font-size: 14px;
  }

  .pets-load-btn {
    font-size: 16px;
  }

  .pets-ctgs-btn {
    font-size: 16px;
  }
}
