.pets-section {
  padding: 64px 0 32px 0;
}
.pets-title {
  line-height: 1.2;
  letter-spacing: -0.01em;

  margin-bottom: 16px;
}

.pets-subtitle {
  text-align: center;
  line-height: 1.5;

  margin-bottom: 32px;
}

.pets-ctgs-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 32px;
}

.pets-ctgs-item {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.5;

  padding: 10px 16px;
}

.pets-ctgs-item.active {
  background-color: #eee9e3;
  border-radius: 100px;
}

.pets-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pets-item {
}

.pets-load {
}
