h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: url('/public/cursor.svg'), pointer;
}

button {
  font-family: inherit;
  cursor: url('/public/cursor.svg'), pointer;
}

button:hover {
  cursor: url('/public/cursor.svg'), pointer;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}


