@import 'modern-normalize/modern-normalize.css';

/* Common styles */
@import './reset.css';
@import './base.css';
@import './container.css';
@import './animations.css';

/* Sections style */
@import './header.css';
@import './hero.css';
@import './pets.css';
@import './about-us.css';
@import './faq.css';
@import './success.css';
@import './details-modal.css';
@import './order-modal.css';
@import './footer.css';
