.container {
    min-width: 280px;
}

.success {
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
}

.success-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.success-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-neutral-darkest);
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.success-list {
    margin-bottom: 40px;
}

.success-rate-star-box {
    display: flex;
    flex-shrink: 1;
    margin-bottom: 32px;
}

.success-item-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    max-width: 335px;
    margin-bottom: 32px;
}

.success-item-author {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
}

.success-btn-box {
    position: relative;
    display: flex;
    gap: 16px;
    justify-content: end;
}

/* .success-swiper-pagination {
    left: 10% !important;
} */

body .swiper-pagination-bullet-active {
    background: var(--color-neutral-darkest);
}

.swiper-pagination-bullets-dynamic {
    .swiper-pagination-bullet {
        transform: scale(1);
        position: relative;
    }
}

.success-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    border: 1px solid var(--color-mariner-light);
    border-radius: 8px;
    min-width: 48px;
    min-height: 48px;
    background-color: var(--color-mariner-lighter);
    cursor: pointer;
    transition: border-color ease-in-out 250ms,
    box-shadow ease-in-out 250ms,
    opacity ease-in-out 250ms;
}

.success-btn:hover {
    border-color: rgba(2, 6, 10, 0.6);
}

.success-btn:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.success-btn-disabled {
    border-color: #f6f4f1;
    opacity: 0.4;
    pointer-events: none;
    cursor: none;
}


@media only screen and (min-width: 768px) {

    .success-list {
        width: 768px;
        }

    .success-title {
        max-width: 704px;
    }

    .success-subtitle {
        max-width: 704px;
    }
}


@media only screen and (min-width: 1440px) {
    
    .success {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .success-list {
        max-width: 1440px;
    }

    .success-title {
        font-size: 48px;
        max-width: 768px;
        margin-bottom: 24px;
    }

    .success-subtitle {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .success-item-desc {
        font-size: 20px;
        max-width: 640px;
    }

    .success-item-author {
        font-size: 18px;
    }

    .success-btn:focus {
        border-color: rgba(2, 6, 10, 0.6);
    }
}

