.success {
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

.success-title {
  margin-bottom: 24px;
}

.success-subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.success-list {
  margin-bottom: 40px;
}

.success-rate-star-box {
  display: flex;
  margin-bottom: 32px;
}

.success-item {
  min-height: 244px;
}

body .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success-item-desc {
  font-size: 18px;
}

.success-item-author {
  font-weight: 600;
  font-size: 14px;
}

.success-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success-btn-box {
  display: flex;
  gap: 16px;
}

body .success .swiper-pagination-bullet-active {
  background: var(--color-neutral-darkest);
}

.success-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  border: 1px solid var(--color-mariner-light);
  border-radius: 8px;
  min-width: 48px;
  min-height: 48px;
  background-color: var(--color-mariner-lighter);
  cursor: pointer;
  transition: border-color ease-in-out 500ms, box-shadow ease-in-out 500ms,
    opacity ease-in-out 500ms;
}

.success-btn:hover {
  border-color: rgba(2, 6, 10, 0.6);
}

.success-btn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.success-btn-disabled {
  border-color: #f6f4f1;
  opacity: 0.4;
  pointer-events: none;
  cursor: none;
}

.success-pagination-box {
  width: calc(6  * (8px + 8px) - 1px);
  overflow: hidden;
}

.success-pagination {
  display: flex;
  gap: 8px;
  transition: transform 0.35s ease;
}

.success-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-neutral-darkest);
  opacity: 0.2;
  transform: scale(1);
  flex-shrink: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
  cursor: pointer;
}

.success-bullet.active {
  opacity: 1;
  transform: scale(1);
  background: var(--color-neutral-darkest);
}

.success-bullet.near {
  transform: scale(1);
  opacity: 0.2;
}

.success-bullet.far {
  transform: scale(1);
  opacity: 0.2;
}

.ajax-loader {
  position: absolute;
  top: 0%;
  left:65%;
  transform-origin: 50% 50%;
  transform: translate(150%, 0) rotate(37deg);
  font-size: 68px;
  width: 1em;
  height: 3em;
  z-index: -1;
}

.ajax-loader .paw {
  display: block;
  width: 1em;
  height: 1em;
  animation: 6000ms pawAnimation ease-in-out infinite;
  opacity: 0;
  transform: rotate(90deg);
}

.ajax-loader .paw svg {
  width: 100%;
  height: 100%;
}

.ajax-loader .paw .icon {
  fill: var(--color-mariner);
}

.ajax-loader .paw:nth-child(odd) {
  transform: rotate(-10deg);
}

.ajax-loader .paw:nth-child(even) {
  transform: rotate(10deg) translate(150%, 0);
}

.no-cssanimations .ajax-loader .paw {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
    .success-bullet {
      transform: scale(0.44);
    }

    .success-bullet.near {
      transform: scale(0.66);
    }

    .success-bullet.far {
      transform: scale(0.44);
    }

    .success-pagination-box {
      width: calc(5 * (8px + 8px));
    }

    .ajax-loader {
      top: -5%;
      left: 100%;
      transform: rotate(54deg) translate(-50%, 0%);
      font-size: 76px;
    }

    .ajax-loader .paw:nth-child(even) {
      transform: rotate(10deg) translate(125%, 0);
  }
}

@media only screen and (min-width: 1440px) {
  .success-title {
    width: 768px;
    margin: 0 auto 24px;
  }

  .success-item {
    min-height: 200px;
  }

  .success-item-desc {
    font-size: 20px;
    max-width: 640px;
  }

  .success-item-author {
    font-size: 18px;
  }

  .success-btn:focus {
    border-color: rgba(2, 6, 10, 0.6);
  }

  .ajax-loader {
    top: -15%;
    left: 100%;
    transform: rotate(65deg) translate(-50%, 0%);
    font-size: 100px;
  }

  .ajax-loader .paw:nth-child(even) {
    transform: rotate(10deg) translate(140%, 0);
  }
}

body .iziToast.my-toast>.iziToast-close {
  background: url("/public/close.svg") no-repeat center center;
  background-size: auto;
  opacity: 1;
  transition: none;
}

body .iziToast.my-toast>.iziToast-close:hover {
  background: url("/public/close.svg") no-repeat center center;
  background-size: 18px 18px;
  opacity: 1;
}